<div class='todo <%= done ? "done strike" : "" %>'>
	<span><%= todo %></span>
	<a href='javascript:void(0);' class='select'><%= done ? "undone" : "done" %></a>
	<a href='javascript:void(0);' class='remove'>remove</a>
	<a href='javascript:void(0);' class='edit'>edit</a>
</div>

