<div class='todo <%= done ? "done strike" : "" %>'>
	<div class='todoText'><span><%= todo %></span></div>
	<div class='controll todoDone'><button style='width:60px;' class='select'><%= done ? "undone" : "done" %></button></div>
	<div class='controll todoRemove'><button style='width:60px;' class='remove'>remove</button></div>
	<div class='controll todoEdit'><button style='width:40px;' class='edit'>edit</button></div>
</div>

